.inputKeluhan {
    width:50%;
}

@media only screen and (max-width:855px){
    .inputKeluhan {
        width: 85%;
    }
}

.cardUser {
    padding:12px 0;
}
.keluhan {
    height: 10em;
}


@media only screen and (max-width: 768px) {
    .keluhan {
        height: 10em;
        margin-top:5px;
        padding-top: 2px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 411px) {
    .keluhan {
        margin-top:5px;
        padding-top: 0px;
        font-size: 10px;
        height: auto;
    }
}